.form{
    display: block;
    width: 50%;
    margin: auto;
    /* border: 2px solid blue; */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.form-group .form-control{
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background:none;
    border-bottom: 1px solid red;
    
}

.form .btn{
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: aquamarine;
    border-radius: 20px;
    color: blue;
    font-size: 1rem;
    font-weight: 600;
}

.form .btn:disabled{
    cursor: default;
    opacity: 0.5;
}