.header{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(200deg,red,blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}